body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.error {
    color: Red;
    padding-bottom: 10px;
}

.add-task-btn {
    font-size: 30pt;
}

.cat-button {
    font-size: 15pt;
}

textarea {
    resize: none;
}

.cat-plank {
    background-color: lightseagreen;
    padding: 5px;
    color: white;
    margin-top: 15px;
    font-size: 12pt;
}

.task-list-item {
    padding: 5px;
    border-bottom: 1px solid lightseagreen;
    font-size: 12pt;
}

.task-list-item:hover {
    background-color: lightblue;
    cursor: pointer;
}
