<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="email">Email</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="email" class="form-control" id="email" ng-model="model.Email"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="firstName">Имя</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="firstName" ng-model="model.FirstName"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="lastName">Фамилия</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="lastName" ng-model="model.lastName" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="password">Пароль</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="password" class="form-control" id="password" ng-model="model.Password"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="confirmPassword">Повтор пароля</label>
            <div class="row">
                <div class="col-md-12">
                    <input type="password" class="form-control" id="confirmPassword" ng-model="model.ConfirmPassword" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row error" ng-show="showError">
    <div class="col-md-12">
        {{errorText}}
        <div ng-repeat="error in errors">{{error}}</div>
    </div>
</div>
<form>
    <button type="button" class="btn btn-primary" ng-click="register()">Зарегистрироваться</button>
    <a class="btn btn-default" ui-sref="auth">Отмена</a>
</form>